.css-wheel {
    left: 50%;
    bottom: -100%;
    transform: translate(-50%, 0%);
}

.css-item {
    transform: rotate(calc(var(--item-angle) * 25deg)) translateY(-150%);
}

.css-item-1 {
    --item-angle: 0;
}

.css-item-2 {
    --item-angle: 45;
}

.css-item-3 {
    --item-angle: 90;   
}

.css-item-4 {
    --item-angle: 135;
}

.css-item-5 {
    --item-angle: 180;
}

.css-item-6 {
    --item-angle: 225;
}

.css-item-7 {
    --item-angle: 270;
}

.css-item-8 {
    --item-angle: 315;
}
